[Unit]
Description=Local backup script
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/sbin/duplicity-backup

[Install]
WantedBy=multi-user.target
